@import 'tailwindcss';

@import '../styles/theme.css';
@import '../styles/utilities.css';
@import '../styles/components.css';
@import '../styles/game.css';

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  html,
  body {
    @apply bg-bg-main min-h-screen font-[openSans] dark:bg-game-bg;
  }

}